.footer {
  @include center;
  background-color: $black;
  width: 100%;

  .wrapper {
    @include center;
    gap: 20px;
    flex-direction: column;
    max-width: $section-width;
    width: 80%;
    @include margin(40px, 0);

    @include tablet {
      width: 90%;
    }


    h3 {
      font-weight: 700;
      font-size: 14px;
      color: $white;
      text-transform: uppercase;
    }

    p {
      text-align: center;
      font-weight: 400;
      font-size: 12px;
      color: $lightgrey;

      span {
        display: none;

        @include tablet {
          display: inline-block;
        }
      }
    }

    @include tablet {
      @include margin(50px, 0);

      p, h3, span {
        font-size: 16px;
      }
    }

    @include desktop {
      @include margin(65px, 0);
    }

    .social-icons {
      display: flex;
      width: 195px;
      justify-content: space-between;

      &__icon {
        display: flex;
        @include center;
        border-radius: 30px;
        width: 35px;
        height: 35px;
        border: 2px solid;
        background-position: center;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 12px;
        cursor: pointer;

        &:hover {
          img {
            filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(329deg) brightness(106%) contrast(101%);
          }
        }

        &:first-child {
          border-color: $orange;

          &:hover {
            background-color: $orange;
          }
        }

        &:nth-child(2) {
          border-color: $blue;

          &:hover {
            background-color: $blue;
          }
        }

        &:nth-child(3) {
          border-color: $lightblue;

          &:hover {
            background-color: $lightblue;
          }
        }

        &:nth-child(4) {
          border-color: $pink;

          &:hover {
            background-color: $pink;
          }
        }

        &:last-child {
          border-color: $red;

          &:hover {
            background-color: $red;
          }
        }
      }
    }
  }
}