.header {
  width: 100%;
  max-width: $section-width;
  @include center;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 23px;
  margin-bottom: 40px;

  @include desktop {
    width: 80%;
  }

  .navbar {
    display: none;
  }

  @include tablet {
    align-items: center;

    .navbar {
      @include center;
      justify-content: space-between;
      width: 80%;
      height: 55px;
      margin-bottom: 30px;

      &__button {
        font-weight: 400;
        font-size: 11px;
        color: $darkgrey;
        text-transform: uppercase;

        &:hover {
          color: $hover;
        }
      }
    }
  }

  .nav-container {
    position: relative;
    height: 38px;
    @include center;
    width: 45px;
    background-color: $black;
    cursor: pointer;
    margin-bottom: 25px;

    @include tablet {
      display: none;
    }

    &::before {
      content: "|||";
      color: #fff;
      font-size: 20px;
      rotate: 90deg;
      width: 17px;
      height: 27px;
    }

    &--active {
      &:before {
        @include center;
        position: absolute;
        content: "+";
        color: #fff;
        font-size: 40px;
        font-weight: 300;
        rotate: 45deg;
        width: 25px;
        height: 25px;
      }
    }


    .button-container {
      display: none;
      align-content: center;
      flex-direction: column;
      position: absolute;
      width: 150px;
      height: 180px;
      top: 37px;
      right: 0;
      background-color: #F5F5F5;

      &--active {
        display: flex;
      }
    }

    &__button {
      display: flex;
      align-items: center;
      padding-left: 13px;
      height: 100%;
      font-weight: 400;
      font-size: 11px;
      color: $darkgrey;
      text-transform: uppercase;

      &:hover {
        color: $hover;
        background-color: #E5E5E5;
      }
    }
  }

  &__hero-banner {
    width: 100%;
  }
}



