.insta-section {
  width: 100%;
  background-color: rgba(142, 124, 181, 0.03);
  padding-top: 35px;
  @include center;
}

.instagram-shot {
  width: 95%;
  max-width: $section-width;
  margin-bottom: 40px;

  @include tablet {
    width: 95%;
    margin-bottom: 50px;
  }

  &__title {
    @include center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;

    @include tablet {
      margin-bottom: 30px;
    }

    h3 {
      font-weight: 700;
      font-size: 14px;
      color: $darkgrey;
      text-transform: uppercase;

      @include tablet {
        font-size: 16px;
      }
    }

    a {
      font-weight: 700;
      font-size: 13px;
      color: $darkgrey;
      text-transform: uppercase;
      display: none;

      @include tablet {
        display: block;
      }
    }
  }

  .image-container {
    display: flex;
    justify-content: space-between;

    img {
      width: 100%;
    }

    img:not(img:first-child) {
      display: none;
    }

    @include tablet {
      img {
        width: 32.5%;
      }

      img:not(img:last-child) {
        display: block;
      }
    }

    @include desktop {

      img:not(img:first-child) {
        display: block;
      }

      img {
        width: 24.5%;
      }
    }
  }
}
