@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content
  }
}

@mixin margin ($vertical, $horizontal) {
  margin: $vertical $horizontal;
}

