.recent-posts {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 95%;
  max-width: $section-width;
  margin-bottom: 45px;

  @include tablet {
    margin-bottom: 60px;
  }

  @include desktop {
    margin-bottom: 70px;
  }

  &__title {
    color: $darkgrey;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 23px;
  }

  .grid {
    width: 80%;
    display: grid;
    grid-gap: 32px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);

    @include desktop {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      width: 100%;

    }

    &__item {
      display: flex;
      flex-direction: column;
      gap: 8px;

      @include tablet {
        flex-direction: row;
        gap: 21px;
      }

      &:last-child {
        display: none;

        @include tablet {
          display: flex;
        }
      }

      .text-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      img {
        width: 160px;
        height: 140px;
      }

      p:first-child {
        color: $darkgrey;
        width: 100%;
        font-weight: 700;
        font-size: 12px;

        @include tablet {
          font-size: 16px;
        }
      }

      p:nth-child(2) {
        font-weight: 400;
        font-size: 11px;
        color: $grey;
      }

      p:last-child {
        font-weight: 400;
        font-size: 14px;
        color: #5C5C5C;
        display: none;

        @include tablet {
          display: block;
        }
      }
    }
  }
}