$section-width: 1170px;

$darkgrey: #4E4E4E;
$grey: #7C7C7C;
$lightgrey :#B9B9B9;
$white :#FEFEFE;
$hover: #57A4A4;
$black: #000000;
$orange: #F8902E;
$blue: #39599F;
$lightblue: #45B0E3;
$pink: #D97AB0;
$red: #CC212C;


