@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import "variables";
@import "mixins";
@import "header";
@import "recent-posts-section";
@import "insta-shot-section";
@import "footer";

* {
  box-sizing: border-box;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 320px;
}

a {
  text-decoration: none;
}


